#set ($ViewTitle	= "ViewTitle") 
#set ($This	= "this") 
#set ($SearchTooltip	= "SearchTooltip") 
#macro( entitySetmaptypes $propertyObject $target )
#set( $range =  $propertyObject.range)
#set( $formatOptions =  $propertyObject.formatOptions)
  #if ($range == "Edm.Binary")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Boolean")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.Boolean'}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Byte")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.SByte")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Date")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.DateTimeOffset")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.TimeOfDay")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Duration")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Decimal")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Single")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Double")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.Float'$!formatOptions }" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Guid")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.String'}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Int16")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.Integer'$!formatOptions }" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Int32")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.Integer'$!formatOptions }" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Int64")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.Integer'$!formatOptions}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.String")							<Text text="{path:'dataModel>$propertyObject.property',type:'sap.ui.model.type.String' }"  tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.anyURI")							<Link text="{dataModel>$propertyObject.property}" href="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}" validateUrl="true"/>
  #elseif ($range == "Edm.Stream")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Geography")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyPoint")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyLineString")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyPolygon")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyMultiPoint")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyMultiLineString")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyMultiPolygon")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeographyCollection")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.Geometry")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryPoint")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryLineString")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryPolygon")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryMultiPoint")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryMultiLineString")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryMultiPolygon")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #elseif ($range == "Edm.GeometryCollection")							<Text text="{dataModel>$propertyObject.property}" tooltip="{i18n>$target.$propertyObject.property#[[.]]#tooltip}"/>
  #else
  #end 
#end
<mvc:View controllerName="com.inova8.lens.controller.EntitySet360" xmlns="sap.m" xmlns:mvc="sap.ui.core.mvc" xmlns:layout="sap.ui.layout"
	xmlns:rdf="com.inova8.lens.control" xmlns:core="sap.ui.core" xmlns:cd="http://schemas.sap.com/sapui5/extension/sap.ui.core.CustomData/1">
	<Page showHeader="false" id="page" navButtonPress="onNavBack" showNavButton="true" title="{i18n>$entitySet.target.$ViewTitle}" cd:parameters="{'appName':'$entitySet.target', 'entityType':'$entitySet.name','entitySet':'$entitySet.name'}">
		<content>
			<Table id="table360" inset="false" 
					items="{ path: 'dataModel>/$entitySet.name' 
						   , sorter: { path: 'label', descending: false } 
					#set($numOfExpand = 0)		
					#foreach($property in $uiTemplate.properties)
						#if(($property.visible) && ($property.propertyType == "C")) 
							#if($numOfExpand == 0) 
						   , parameters:{$expand:{#else 
						  						, #end $property.property:{ $count:true}	
							#set($numOfExpand = $numOfExpand + 1)
						#end					
					#end
					#if($numOfExpand > 0) 
							},$select:'*'} 
					#end 
						}"
				noDataText="{entitySetView>/tableNoDataText}" busyIndicatorDelay="{entitySetView>/tableBusyDelay}" growing="true" growingScrollToLoad="true"
				updateFinished="onUpdateFinished"  fixedLayout="false">
				<headerToolbar>
					<Toolbar>
						<ToolbarSpacer/>
						<HBox id="sourceTitle" alignItems="Center">
							<rdf:TextResource id="selectedResource" path="" entitySet=""/>
						</HBox>
						<Title id="pathTitle" text="{entitySetView>/navigationText}"/>
						<HBox id="versionsTitle" alignItems="Center">
							<Title text="(" />
							<ComboBox id="versionSelection" items="{ path: 'entitySetView>/versions' }" selectionChange="onVersionChange">
								<core:Item key="{entitySetView>navigation}" text="{entitySetView>text}"/>
							</ComboBox>
							<Title text=")" />
						</HBox>
						<Title id="tableHeader" text="{entitySetView>/entitySetTableTitle}"/>
						<ToolbarSpacer/>
						<SearchField id="searchField" tooltip="{i18n>search.searchTooltip}" search="onSearch" width="auto"></SearchField>
					</Toolbar>
				</headerToolbar>
				<columns>
					<Column >
						<Text text="{i18n>$entitySet.target.$This}"/>
					</Column>
					#foreach($property in $uiTemplate.properties)
						#if($property.visible)
					<Column demandPopin="true" minScreenWidth="Tablet">
						<Text text="{i18n>$entitySet.target.$property.property}"/>
					</Column>
						#end
					#end									
				</columns>
				<items>
					<ColumnListItem id="template360" type="Navigation" press="onPress">
						<cells>
							<rdf:TextResource path="dataModel>" entitySet="$entitySet.name"/>
							#foreach($property in $uiTemplate.properties)
								#if($property.visible)
									#if($property.propertyType == "D")
							#entitySetmaptypes($property $entitySet.target  ) 	
									#elseif ($property.propertyType == "O")
							<rdf:TextResource path="dataModel>$property.property" entitySet="$property.range"/>
									#elseif ($property.propertyType == "C")
							<rdf:NavigationPropertyCollection path="dataModel>$property.property/$count" navigationProperty="$entitySet.name/$property.property"/>
									#elseif ($property.propertyType == "S")		
							<VBox>					
										#foreach($subTypeName in $entity.subTypeNames)
											#set( $complexTypeName =  $property.range)				
											#set( $complexType = $complexTypes.get($complexTypeName))
											#if(  $complexType.getPropertyTemplates($subTypeName)  )
												#set( $complexProperties = $complexType.getPropertyTemplates($subTypeName))
								<HBox  justifyContent="Center" alignItems="Stretch">
												#foreach( $complexProperty in   $complexProperties)
													#if($complexProperty.propertyType == "D")
									#entitySetmaptypes( $complexProperty $entitySet.target  ) 
													#elseif ($complexProperty.propertyType == "O")
							<rdf:TextResource path="dataModel>$complexProperty.property" entitySet="$complexProperty.range" tooltip="{i18n>$entitySet.target.$complexProperty.property#[[.]]#tooltip}"/>		
													#elseif ($complexProperty.propertyType == "C")
							<rdf:ListResource path="dataModel>$complexProperty.property" entitySet="$complexProperty.range" tooltip="{i18n>$entitySet.target.$complexProperty.property#[[.]]#tooltip}"/>
													#end	
													#if ( $foreach.hasNext ) 
							<Text text="  " renderWhitespace="true"/>
													#end
												#end
								</HBox>
											#else
											<Text text=""/>
											#end
										#end
							</VBox>							
									#end
								#end
							#end							
						</cells>
					</ColumnListItem>
				</items>
			</Table>
		</content>
	</Page>
</mvc:View>