
#~~~ $entity.target View ~~~~~~~~~~~~~~~~~~~~~~~~~~

$entity.target#[[.Title]]# = Details
$entity.target#[[.this]]# = $entity.label
#foreach($property in $entity.properties)
	#if($property.complex )
		#set($complexType = $property.complexRange)
		#foreach($complexProperty in $complexType.allProperties)
$entity.target#[[.]]#$complexType.name#[[/]]#$complexProperty.name = $complexProperty.label	
		#end
		#foreach($complexNavigationProperty in $complexType.allNavigationProperties)
$entity.target#[[.]]#$complexType.name#[[/]]#$complexNavigationProperty.name = $complexNavigationProperty.label	
		#end	
		#foreach($complexNavigationSet in $complexType.allNavigationSets)
$entity.target#[[.]]#$complexType.name#[[/]]#$complexNavigationSet.name = $complexNavigationSet.label	
		#end	
	#else
$entity.target#[[.]]#$property.name = $property.label
	#end
#end
#foreach($navigationProperty in $entity.navigationProperties)
$entity.target#[[.]]#$navigationProperty.name = $navigationProperty.label  
#end
#foreach($navigationSet in $entity.navigationSet)
$entity.target#[[.]]#$navigationSet.name = $navigationSet.label  
#end