#set ( $plural= "s")	
#set ( $dashboard= "DashBoard")		
{
#foreach($entityType in $entityTypes)
	"$entityType.entitySet.name": {
		"text": "$entityType.entitySet.label",
		"target": "$entityType.entitySet.target",
		"tooltip": "Show all $entityType.entitySet.label",
		"image": "$entityType.entitySet.image",
		"icon": "$entityType.entitySet.entityIcon",
		"menu": [{
		    "key": "graph",
			"text": "Graph View",
			"icon": "sap-icon://overview-chart",
			"target": "graph",
			"tooltip": "$entityType.entitySet.label Graph",
			"parameters": {
				"objectId": "$entityType.entitySet.name",
				"queryOptions": {
					"$top": 10
				}
			}
		}, {
			"key": "graph",
			"text": "$entityType.entitySet.label",
			"icon": "sap-icon://home",
			"target": "$entityType.entitySet.target",
			"tooltip": "Show all $entityType.entitySet.label"
		}, {
			"key": "$dashboard",
			"text": "$dashboard",
			"icon": "sap-icon://business-objects-experience",
			"target": "$entityType.entitySet.dashboardTarget",
			"tooltip": "Show $entityType.entitySet.label $dashboard"
		}],
		"entity": {
			"target": "$entityType.entity.name",
			"icon": "$entityType.entitySet.entityIcon",
			"menu": [{
				"key": "graph",
				"text": "Graph View",
				"icon": "sap-icon://overview-chart",
				"target": "graph",
				"tooltip": "$entityType.entity.tooltip Graph"
			}, {
				"key": "Details",
				"text": "Details",
				"icon": "sap-icon://detail-view",
				"target": "$entityType.entity.target",
				"tooltip": "$entityType.entity.tooltip Details"
			}
	#foreach($navigationSet in $entityType.entity.navigationSet)
			, {
				"key": "$navigationSet.name",
				"text": "$navigationSet.label",
				"icon": "$navigationSet.icon",
				"target": "$entityType.entity.target$navigationSet.name",
				"tooltip": "$navigationSet.tooltip"
			}
	#end	
	#foreach($navigationProperty in $entityType.entity.navigationProperties)
			, {
				"key": "$navigationProperty.name",
				"text": "$navigationProperty.label",
				"icon": "$navigationProperty.icon",
				"target": "$navigationProperty.targetEntityType",
				"tooltip": "$navigationProperty.tooltip",
				"parameters": {
					"navigation": "$navigationProperty.name"
				}
			}
	#end			
			]
		}
		,"navigationProperty": {
	#foreach($navigationSet in $entityType.entity.navigationSet)
			"$navigationSet.name": {
				"target": "$navigationSet.name",
				"icon": "$entityType.entity.targetIcon",
				"menu": [{
					"key": "graph",
					"text": "Graph View",
					"icon": "sap-icon://overview-chart",
					"target": "navigationSetGraph",
					"tooltip": "$navigationSet.name Graph"
				}, {
					"key": "$navigationSet.name",
					"text": "$navigationSet.label",
					"icon": "$navigationSet.icon",
					"target": "$navigationSet.target",
					"tooltip": "$navigationSet.tooltip"
				}]
			}
		#if ( $foreach.hasNext ) 
		,
		#end
	#end
		}
	}
	#if ( $foreach.hasNext ) 
	,
	#end	
#end
}