
#~~~ $entitySet.target View ~~~~~~~~~~~~~~~~~~~~~~~~~~

$entitySet.target#[[.ViewTitle]]#=$entitySet.target
$entitySet.target#[[.TableTitle]]#=$entitySet.label
$entitySet.target#[[.SearchTooltip]]#=Enter an $entitySet.target name or a part of it.
$entitySet.target#[[.NoDataWithSearchText]]#=No matching $entitySet.target found
$entitySet.target#[[.TableTitleCount]]#=$entitySet.target ({0})
$entitySet.target#[[.tableNoDataText]]#=No $entitySet.target are currently available
$entitySet.target#[[.this]]# = $entitySet.label
#foreach($property in $entity.properties)
$entitySet.target#[[.]]#$property.name = $property.label
#end
#foreach($navigationProperty in $entity.navigationProperties)
$entitySet.target#[[.]]#$navigationProperty.name = $navigationProperty.label  
#end
#foreach($navigationSet in $entity.navigationSet)
$entitySet.target#[[.]]#$navigationSet.name = $navigationSet.label  
#end